PUBLIC_SITE_URL=
PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=production
PUBLIC_HONEYBOOK_FORM_URL=
PUBLIC_CONTACT_EMAIL=
PUBLIC_PRIVACY_POLICY_URL=
PUBLIC_GA_MEASUREMENT_ID=
PUBLIC_SHOW_JOURNAL=false
CONTENT_MODE=development
INQUIRY_PROVIDER=unconfirmed
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
